*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6d;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: #38b48b;
}
header{
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  text-align: center;
  padding-top: 10px;
}
header .heading a{
  color: #fff;
}
.nav-list{
  padding: 10px 0;
}
.nav-list-item{
  list-style: none;
  display: inline-block;
  color: #fff;
  padding: 0 20px;
}

main{
  background-color: #ecfcdf;
  padding: 10px 40px 40px 40px;
  flex: 1;
}
main h2{
  text-align: center;
}
.profile-box{
  display: flex;
  justify-content: center;
}
.profile-image-box{
  width: 30%;
  margin-right: 10px;
}
.profile-image{
  width: 100%;
  border-radius: 10px;
}
.profile-info{
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  padding: 0 10px;
}
.profile-item{
  width: 100px;
  font-weight: bold;
}
.row{
  display: flex;
}
p{
  line-height: 40px;
}
.profile-text i{
  margin: 0 20px 20px 0;
}

footer{
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  text-align: center;
}

.copyright{
  color: #fff;
  line-height: 100px;
}

@media screen and (max-width:768px) {
  .profile-box{
    display: block;
  }
  .profile-image-box{
    width: 100%;
  }
  .profile-info{
    width: 100%;
  }

}